<div class="row">
	<div class="large-8">
		<h1>Product List</h1>
		<%= form_tag ws_gateway_products_path, :remote => true do %>
		<%= submit_tag "deactivate selected", :class => "button", :name => "deactivate_selected" %>
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Price</th>
						<th>Active</th>
						<th>Category</th>
					</tr>
				</thead>
				<tbody>

					<% @products_index.each do |r| %>
						<tr>
							<td><%= check_box_tag 'product_ids[]', r.id %></td>
							<td><%= r.name %></td>
							<td><%= r.price %></td>
							<td><%= r.active %></td>
							<td><%= r.category.name %></td>
						</tr>
					<% end %>
				</tbody>
			</table>	
			
		<% end %>			
	</div>
</div>