<div class="row">
	<div class="large-8">
		<h1>Product List</h1>
		<%= link_to "Create new product", new_product_path, :class => "button" %>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Active</th>
					<th>Category</th>
				</tr>
			</thead>
			<tbody>
				<% @products_index.each do |r| %>

					<tr>
						<td><%= r.name %></td>
						<td><%= r.price %></td>
						<td><%= r.active %></td>
						<td><%= r.category.name %></td>
					</tr>

				<% end %>
			</tbody>
		</table>
	</div>
</div>